:root {
  --cc-space_0: 0px;
  --cc-space_1: 4px;
  --cc-space_2: 8px;
  --cc-space_3: 12px;
  --cc-space_4: 16px;
  --cc-space_5: 20px;
  --cc-space_6: 24px;
  --cc-space_7: 28px;
  --cc-space_8: 32px;
  --cc-space_9: 40px;
  --cc-space_12: 48px;
  --cc-space_16: 64px;
  --cc-space_20: 80px;
  --cc-space_24: 96px;
  --cc-space_32: 128px;
  --cc-space_40: 160px;
  --cc-space_48: 192px;
}
